<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>renjian-neighbour</title>
<link type="text/css" rel="stylesheet" href="/css/style.css" />
<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/> 
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="css/advanced.css" type="text/css" media="screen" charset="utf-8" /> 
</head>
<body>
    <!-- header -->
    <h1 id="site-name"><a rel="home" href="/">renjian-Neighbour</a></h1> 
    <hr />
    
    <!-- navigation-top -->
    <p id="navigation-top" class="navigation"> 
        <a class="to-home" href="http://mobile.carringtontheme.com">Home</a> |
    <a href="#pages">Pages</a></p> 
    <hr />
    
    {% block content %}
    {% endblock %}

    <!-- navigation-bottom -->
    <p id="navigation-bottom" class="navigation"> 
    <a class="to-home" href="http://mobile.carringtontheme.com">Home</a> |
    <a href="#pages">Pages</a></p> 
    <hr /> 

    <!-- about -->
    <div id="about" class="group"> 
        <h3>About</h3> 
        Renjian-Neighbour is an easy Google App Engine based renjian API app.<br />
        Author is Arthur Wang, an intern of renjian.com.<br />
        You can follow me on Renjian.com 
        @<a class="more" href="http://renjian.com/arthraim" target="_blank">Arthraim</a>
        or visit my blog <a class="more" href="http://arthraim.cn/">Arthraim.cn &rarr;</a>
    </div>
    
    <!-- footer -->
    <div id="footer"> 
        <hr /> 
        <p class="small">
        Produced by <a href="http://renjian.com/arthraim" target="_blank"><strong>Arthraim</strong></a>
         | Powered by <a href="http://renjian.com/api.html" target="_blank"><strong>Renjian API</strong></a>
         and <a href="http://code.google.com/appengine/" target="_blank"><strong>Google App Engine</strong></a>
         | Theme by <a href="http://carringtontheme.com"><strong>Carrington</strong></a>.<br /> 
        </p>
        <p id="developer-link"><a href="javascript:void();" title="Produced by Arthraim | Powered by Renjian API and Google App Engine | Theme by Crowd Favorite.">Theme by Crowd Favorite</a></p> 
        <div class="clear"></div> 
    </div> 
    
</body>
</html>
